In [1]:
#매출
sales = pd.read_csv('sales_amt.csv', encoding='euc-kr')
df = pd.read_csv('df.csv', encoding='euc-kr')

In [2]:
sales.tail()

,year,quarter,district,code,sales_weekday_amt,sales_female_amt,sales_2030s_amt,sales_06_11_amt,sales_11_14_amt,sales_14_17_amt,sales_17_21_amt,sales_21_24_amt,sales_total
911222,2013,1,1001332,CS300004,50032218.0,52489413.0,35073041.0,0.0,17488492.0,23088462.0,14606926.0,6813185.0,61997065.0
911223,2013,1,1001016,CS300004,107443834.0,48157351.0,114105417.0,5564566.0,27981822.0,47839378.0,60860461.0,0.0,142246227.0
911224,2013,1,1001228,CS300007,13545533.0,2832364.0,1380127.0,0.0,3834298.0,8771734.0,2781322.0,0.0,15387354.0
911225,2013,1,1001232,CS300004,30507083.0,15528562.0,2161977.0,0.0,20710223.0,8059043.0,1737817.0,0.0,30507083.0
911226,2013,1,1000407,CS300004,4190966.0,0.0,0.0,0.0,4190966.0,0.0,0.0,0.0,4190966.0

In [3]:
sales.columns

Index(['year', 'quarter', 'district', 'code', 'sales_weekday_amt',
       'sales_female_amt', 'sales_2030s_amt', 'sales_06_11_amt',
       'sales_11_14_amt', 'sales_14_17_amt', 'sales_17_21_amt',
       'sales_21_24_amt', 'sales_total'],
      dtype='object')

In [4]:
b_apt = pd.read_csv('b_apt.csv', encoding='euc-kr')
b_apt= b_apt[['year', 'quarter', 'district', 'b_apt_no_of_cmplx', 'b_apt_avg_space',
       'b_apt_avg_price']]
a=pd.merge(sales, b_apt, on=['year','quarter','district'])

In [5]:
s_change = pd.read_csv('s_change.csv', encoding = 'euc-kr')
b = pd.merge(a,s_change,on=['year', 'quarter', 'district'])

In [6]:
b_facil = pd.read_csv('b_facil.csv', encoding = 'euc-kr')
b_facil=b_facil[['year', 'quarter', 'district', 'b_facil_total','b_facil_no_of_STA', 'b_facil_no_of_BUS']]
c = pd.merge(b,b_facil,on=['year', 'quarter', 'district'])

In [7]:
s_float_pop = pd.read_csv('s_float_pop.csv', encoding = 'euc-kr')
d = pd.merge(c,s_float_pop,on=['year', 'quarter', 'district'])

In [8]:
b_resid = pd.read_csv('b_resid.csv', encoding = 'euc-kr')
e = pd.merge(d,b_resid,on=['year', 'quarter', 'district'])

In [12]:
s_store = pd.read_csv('s_store.csv', encoding = 'euc-kr')
s_store = s_store[['year', 'quarter', 'district', 'code', 's_store_no_of_store']]
f = pd.merge(e,s_store, on= ['year', 'quarter', 'district', 'code'])

In [16]:
s_worker = pd.read_csv('s_worker.csv', encoding = 'euc-kr')
g = pd.merge(f, s_worker, on= ['year', 'quarter', 'district'])

In [18]:
b_income = pd.read_csv('b_income.csv', encoding = 'euc-kr')
h = pd.merge(g, b_income, on=['year', 'quarter', 'district'])

In [24]:
h=h[['year', 'quarter', 'district', 'code',  'sales_total','sales_weekday_amt',
       'sales_female_amt', 'sales_2030s_amt', 'sales_06_11_amt',
       'sales_11_14_amt', 'sales_14_17_amt', 'sales_17_21_amt',
       'sales_21_24_amt', 'b_apt_no_of_cmplx',
       'b_apt_avg_space', 'b_apt_avg_price', 'open_rate', 'close_rate',
       'b_facil_total', 'b_facil_no_of_STA', 'b_facil_no_of_BUS', 'floatpop',
       'b_resid_total', 'b_total_fam', 'b_resid_no_of_apt_fam',
       'b_resid_no_of_nonapt_fam', 's_store_no_of_store', 's_worker',
       'income_avg', 'expand_avg']]

In [32]:
df_merged=h.groupby(['year','quarter','district','code','sales_total']).agg({
    'sales_weekday_amt': 'sum',
    'sales_female_amt': 'sum',
    'sales_2030s_amt': 'sum',
    'sales_06_11_amt': 'sum',
    'sales_11_14_amt': 'sum',
    'sales_14_17_amt': 'sum',
    'sales_17_21_amt': 'sum',
    'sales_21_24_amt': 'sum',
    'b_apt_no_of_cmplx': 'mean',
    'b_apt_avg_space': 'mean',
    'b_apt_avg_price': 'mean',
    'open_rate': 'mean',
    'close_rate': 'mean',
    'b_facil_total': 'mean',
    'b_facil_no_of_STA': 'mean',
    'b_facil_no_of_BUS': 'mean',
    'floatpop': 'mean',
    'b_resid_total': 'mean',
    'b_total_fam': 'mean',
    'b_resid_total': 'mean',
    'b_resid_no_of_apt_fam': 'mean',
    'b_resid_no_of_nonapt_fam': 'mean',
    's_store_no_of_store': 'mean',
    's_worker': 'mean',
    'income_avg': 'mean',
    'expand_avg': 'mean'
})

In [35]:
df_merged.tail()

                                             sales_weekday_amt  \
year quarter district code     sales_total
2019 2       1001010  CS300008 6.495501e+07       6.114125e+07
                      CS300009 1.608440e+09       1.509459e+09
                      CS300011 9.938485e+06       5.872002e+06
                      CS300016 3.582109e+06       2.265636e+06
                      CS300017 1.628353e+06       1.542146e+06

                                             sales_female_amt  \
year quarter district code     sales_total
2019 2       1001010  CS300008 6.495501e+07        33476348.0
                      CS300009 1.608440e+09       719689445.0
                      CS300011 9.938485e+06         1659125.0
                      CS300016 3.582109e+06          731374.0
                      CS300017 1.628353e+06          890805.0

                                             sales_2030s_amt  sales_06_11_amt  \
year quarter district code     sales_total
2019 2       1001010  CS300008 6.495501e+07        5508767.0        4963943.0
                      CS300009 1.608440e+09      181331126.0      387951330.0
                      CS300011 9.938485e+06          97596.0         113862.0
                      CS300016 3.582109e+06        1160448.0         487583.0
                      CS300017 1.628353e+06         507663.0              0.0

                                             sales_11_14_amt  sales_14_17_amt  \
year quarter district code     sales_total
2019 2       1001010  CS300008 6.495501e+07       23608998.0       34868674.0
                      CS300009 1.608440e+09      457393209.0      573017687.0
                      CS300011 9.938485e+06        6229853.0        2358559.0
                      CS300016 3.582109e+06        1121440.0         455077.0
                      CS300017 1.628353e+06         335249.0         613027.0

                                             sales_17_21_amt  sales_21_24_amt  \
year quarter district code     sales_total
2019 2       1001010  CS300008 6.495501e+07        1513397.0              0.0
                      CS300009 1.608440e+09      190078074.0              0.0
                      CS300011 9.938485e+06        1236211.0              0.0
                      CS300016 3.582109e+06        1518009.0              0.0
                      CS300017 1.628353e+06         680077.0              0.0

                                             b_apt_no_of_cmplx  \
year quarter district code     sales_total
2019 2       1001010  CS300008 6.495501e+07                313
                      CS300009 1.608440e+09                313
                      CS300011 9.938485e+06                313
                      CS300016 3.582109e+06                313
                      CS300017 1.628353e+06                313

                                             b_apt_avg_space  ...  \
year quarter district code     sales_total                    ...
2019 2       1001010  CS300008 6.495501e+07               51  ...
                      CS300009 1.608440e+09               51  ...
                      CS300011 9.938485e+06               51  ...
                      CS300016 3.582109e+06               51  ...
                      CS300017 1.628353e+06               51  ...

                                             b_facil_no_of_BUS  floatpop  \
year quarter district code     sales_total
2019 2       1001010  CS300008 6.495501e+07                 14    180328
                      CS300009 1.608440e+09                 14    180328
                      CS300011 9.938485e+06                 14    180328
                      CS300016 3.582109e+06                 14    180328
                      CS300017 1.628353e+06                 14    180328

                                             b_resid_total  b_total_fam  \
year quarter district code     sales_total
2019 2       1001010  CS300008 6.495501e+07          28320        13046
                      CS300009 1.608440e+09          28320        13046
                      CS300011 9.938485e+06          28320        13046
                      CS300016 3.582109e+06          28320        13046
                      CS300017 1.628353e+06          28320        13046

                                             b_resid_no_of_apt_fam  \
year quarter district code     sales_total
2019 2       1001010  CS300008 6.495501e+07                   1888
                      CS300009 1.608440e+09                   1888
                      CS300011 9.938485e+06                   1888
                      CS300016 3.582109e+06                   1888
                      CS300017 1.628353e+06                   1888

                                             b_resid_no_of_nonapt_fam  \
year quarter district code     sales_total
2019 2       1001010  CS300008 6.495501e+07                     11158
                      CS300009 1.608440e+09                     11158
                      CS300011 9.938485e+06                     11158
                      CS300016 3.582109e+06                     11158
                      CS300017 1.628353e+06                     11158

                                             s_store_no_of_store  s_worker  \
year quarter district code     sales_total
2019 2       1001010  CS300008 6.495501e+07                    2       271
                      CS300009 1.608440e+09                    2       271
                      CS300011 9.938485e+06                    1       271
                      CS300016 3.582109e+06                    3       271
                      CS300017 1.628353e+06                    6       271

                                             income_avg   expand_avg
year quarter district code     sales_total
2019 2       1001010  CS300008 6.495501e+07     2923445  12120296344
                      CS300009 1.608440e+09     2923445  12120296344
                      CS300011 9.938485e+06     2923445  12120296344
                      CS300016 3.582109e+06     2923445  12120296344
                      CS300017 1.628353e+06     2923445  12120296344

[5 rows x 25 columns]